<header>
  <section>
    <%= link_to image_tag('cherokey-logo-222x60.png'), site_header['logo_link'], id: 'logo' %>
    <% if site_header['display_name'] %>

      <% if site_header['variant'] %>
        <%= image_tag "cherokey-variant-#{site_header['variant']['id']}.png", title: site_header['variant']['title'], class: 'variant' %>
      <% end %>

      <nav id="login">
        <%= "#{t('sessions.logged_in_as')}: #{site_header['display_name']}" %>
        <br/>
        <% site_header['user_menu'].each do |menu_item| %>
          <%= link_to menu_item['text'], menu_item['url'], menu_item.fetch('options', {}) %>
        <% end %>
      </nav>
    <% end %>
    <% if site_header['eject_link'] %>
      <%= link_to image_tag('cherokey-eject-btn.svg', :title => t('back')), site_header['eject_link'], :class => 'back_button' %>
    <% end %>
  </section>
  <% if site_header['instance_expiration']%>
    <p class="instance_expiration_date">
      <%= site_header['instance_expiration'] %>
    </p>
  <% end %>
</header>
