<header class="site-header">
  <section>
    <%= link_to image_tag('cherokey-logo-222x60.png'), site_header['logo_link'], id: 'logo' %>
    <% if site_header['display_name'] %>

      <% if site_header['variant'] %>
        <%= image_tag "cherokey-variant-#{site_header['variant']['id']}.png", title: site_header['variant']['title'], class: 'variant' %>
      <% end %>

      <nav id="login">
        <%= "#{t('sessions.logged_in_as')}: #{site_header['display_name']}" %>
        <br/>
        <% site_header['user_menu'].each do |menu_item| %>
          <%= link_to menu_item['text'], menu_item['url'], menu_item.fetch('options', {}) %>
        <% end %>
      </nav>
    <% end %>
    <% if site_header['eject_link'] %>
      <%= link_to image_tag('cherokey-eject-btn.svg', :title => t('back')), site_header['eject_link'], :class => 'back_button' %>
    <% end %>
  </section>
  <% if site_header['instance_expiration']%>
    <p class="instance_expiration_date">
      <%= site_header['instance_expiration'] %>
    </p>
  <% end %>
</header>
<% if mobile_site_header %>
  <header class="mobile-site-header only_mobile clear_floats">
    <% if mobile_site_header['left'] && mobile_site_header['center'] && mobile_site_header['right'] %>
      <% if mobile_site_header['left']['text'] %>
        <%= link_to mobile_site_header['left']['text'], mobile_site_header['left']['url'], class: "third #{mobile_site_header['left']['class']}" %>
      <% else %>
        <div class="third" >
          <%= mobile_site_header['left'] %>
        </div>
      <% end %>
      <%= link_to image_tag('cherokey-logo-40px@2x.png', :title => t('back'), :class => 'logo'), mobile_site_header['center'], class: 'third center'  %>
      <% unless mobile_site_header['right']['url'].nil? %>
        <%= link_to mobile_site_header['right']['text'], mobile_site_header['right']['url'], class: "third right #{mobile_site_header['right']['class']}" %>
      <% end %>
    <% else %>
      <%= link_to image_tag('cherokey-logo-222x60.png'), mobile_site_header['left'], id: 'logo', class: 'half'  %>
      <%= link_to mobile_site_header['right']['text'], mobile_site_header['right']['url'], target: '_blank', method: 'delete', class: 'half right' %>
    <% end %>
  </header>
<% end %>
